<div class="d-grid gap-2 d-block col-6 mx-auto">
  <p class="text-grey mt-8 pb-3 text-center fw-bold"><%= message %></p>
  <a
    href="/mealkits/list"
    class="btn btn-primary btn-lg text-white d-center d-inline-block mb-8"
    >Go to Meal List</a
  >
</div>
