/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

/* 
MAIN COLOR: #087f5b
GREY COLOR:#343a40

*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  /* border-bottom: 8px solid #087f5b; */
  display: flex;
  justify-content: center;
}
/* --------------------- */
/*       ACCORDION       */
/* --------------------- */
.accordion-container {
  width: 80%;
  margin: 100px auto;
  /* display: grid;
  grid-template-rows: repeat(3, 1fr); */
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: auto;
}
.question-container {
  /* border-top: 8px solid #087f5b; */
  box-shadow: 0 0 32px rgb(0, 0, 0, 0.1);
}
.display-ques {
  display: flex;
  padding: 20px;
}
.showing-content-icon {
  height: 24px;
  width: 80px;
  stroke: #343a40;
}
.number,
.question {
  font-size: 24px;
  color: #343a40;
  font-weight: 500;
}
.number {
  width: 80px;
  text-align: center;
  color: #868e96;
}
.ques-ans {
  flex: 1;
}
.hidden-answer {
  display: none;
}
.ans {
  margin-top: 24px;
  color: #495057;
  font-weight: 500;
  line-height: 1.5;
  font-size: 16px;
}
.list {
  font-size: 14px;
  margin-top: 16px;
  line-height: 2;
  color: #868e96;
  padding-left: 15px;
}

.selected {
  border-top: 8px solid #087f5b;
}
.selected .hidden-answer {
  display: block;
}

.selected-text {
  color: #087f5b;
  stroke: #087f5b;
}
/* --------------------- */
/*       CAROUSEL        */
/* --------------------- */
.icon {
  stroke: #087f5b;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  vertical-align: middle;
  padding: 8px;
  position: absolute;
  box-shadow: 0 0 32px;
}
.left {
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
}
.right {
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
}
.carousel-container {
  width: 80%;
  margin: 100px auto;
  margin-bottom: 0;
  background-color: #087f5b;
  display: flex;
  gap: 98px;
  align-items: center;
  position: relative;
  border-radius: 8px;
  padding: 32px 48px;
  padding-left: 100px;
  position: relative;
}
.carousel-container img {
  box-shadow: 0 12px 24px;
  height: 250px;
  width: auto;
  transform: scale(1.5);
}
.feedback {
  grid-column: 2/6;
}
.feedback p {
  color: #96f2d7;
  line-height: 1.5;
}
.author {
  font-size: 16px;
  font-weight: 500;
}
.author-title {
  font-size: 14px;
}
.feedback blockquote {
  color: #e6fcf5;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 32px;
}
.author-photo {
  border-radius: 10px;
}
.slide-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.icon-dot {
  width: 52px;
  height: 52px;
  margin: -12px;
}
/* --------------------- */
/*         TABLE         */
/* --------------------- */
table {
  width: 800px;
  margin: 100px;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
  text-align: left;
}
thead th {
  background-color: #087f5b;
  color: #fff;
  width: 25%;
}

tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}
tbody tr:nth-child(even) {
  background-color: #e9ecef;
}
/* --------------------- */
/*      PAGINATION       */
/* --------------------- */
.pagination-container {
  display: flex;
  margin: 100px;
  justify-items: center;
  align-items: center;
}
button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #fff;
  padding: 10px;
  border: 1px solid #087f5b;
}
button:hover {
  background: #087f5b;
  color: #fff;
}
.icon-left,
.icon-right {
  stroke: #087f5b;
  opacity: 1.5;
}
button:hover .icon-left,
button:hover .icon-right {
  stroke: #fff;
}
.num-page {
  width: 36px;
  height: 36px;
  text-align: center;
  padding-top: 10px;
  border: none;
}
.current-page {
  background-color: #087f5b;
  color: #fff;
}
