<div class="container-xl">
  <div class="row">
    <div class="col-md-9">
      <p class="footer-nav text-uppercase mb-3">navigation</p>
      <ul class="nav container">
        <div class="col">
          <li><a href="/" class="text-light text-decoration-none">Home</a></li>
          <li>
            <a href="#how-it-work" class="text-light text-decoration-none"
              >How it works</a
            >
          </li>
          <li>
            <a href="/mealkits/on-the-menu" class="text-light text-decoration-none"
              >On The Menu</a
            >
          </li>
          <li>
            <a href="/random" class="text-light text-decoration-none">Blog</a>
          </li>
        </div>
        <div class="col">
          <li>
            <a href="/random" class="text-light text-decoration-none">FAQ</a>
          </li>
          <li class="nav-item">
            <a href="/random" class="text-light text-decoration-none">Terms</a>
          </li>
          <li>
            <a href="/random" class="text-light text-decoration-none"
              >HealthyBite WOW</a
            >
          </li>
          <li>
            <a href="/random" class="text-light text-decoration-none"
              >Pricing</a
            >
          </li>
        </div>
        <div class="col">
          <li>
            <a href="/random" class="text-light text-decoration-none"
              >Purchase Terms &</a
            >
          </li>
          <li>
            <a href="/random" class="text-light text-decoration-none"
              >Gift Cards</a
            >
          </li>

          <li>
            <a href="/random" class="text-light text-decoration-none"
              >Our Story</a
            >
          </li>
          <li>
            <a href="/random" class="text-light text-decoration-none"
              >Conditions</a
            >
          </li>
        </div>
      </ul>
    </div>
    <div class="col-md-3">
      <div class="text-lg-end text-sm-start contact-link">
        <p class="text-uppercase mb-3 footer-subheader">get in touch</p>
        <a
          href="tel:(123 456-789)"
          class="fst-italic text-light text-decoration-none d-block"
          >(123) 456-789</a
        >
        <a
          href="mailto:info@heathybite.ca"
          class="fst-italic text-light text-decoration-none d-block"
          >info@healthybite.ca</a
        >
        <p class="text-uppercase mt-3 mb-1">follow us</p>
        <a href="https://www.instagram.com/" class="text-light me-2"
          ><i class="fab fa-instagram fa-2x"></i
        ></a>
        <a href="https://www.facebook.com/" class="text-light me-2"
          ><i class="fab fa-facebook fa-2x"></i>
        </a>
        <a href="https://www.twitter.com/" class="text-light"
          ><i class="fab fa-twitter fa-2x"></i
        ></a>
      </div>
    </div>
  </div>
</div>
