<div class="container-xl">
  <div class="row">
    <div class="col-md-4"><img
      src="/img/logo-white.png"
      alt="BambooTravel Logo"
      class="navbar-brand"
      width="180"
      /></a></div>
    <div class="col-md-8">
<div class="row">

  <ul class="nav justify-content-end">
    <li class="nav-item"><a href="/" class="nav-link link-light">About Us</a></li>
    <li class="nav-item"><a href="/" class="nav-link link-light">Download Apps</a></li>
    <li class="nav-item"><a href="/" class="nav-link link-light">Careers</a></li>
    <li class="nav-item"><a href="/" class="nav-link link-light">Become A Guide</a></li>
    <li class="nav-item"><a href="/" class="nav-link link-light">Contact</a></li>
  </ul></div>
  <div class="row">
    <ul class="nav justify-content-end ms-auto">
      <li class="nav-item"><a href="/" class="nav-link link-light"><i class="fab fa-facebook fa-2x"></i></a></li>
      <li class="nav-item"><a href="/" class="nav-link link-light"><i class="fab fa-instagram fa-2x"></i></a></li>
      <li class="nav-item"><a href="/" class="nav-link link-light"><i class="fab fa-twitter fa-2x"></i></a></li>
    </ul>
  </div>
</div>
</div></div>
<!-- Copy Right -->
<p class="fst-italic mb-0 text-light fw-lighter text-center">
  Copyright &copy; Minh Thu Lu, tessalu2399@gmail.com
</p>
</div>
