<!-- <div class="container-xl">
  <div class="d-flex">
    <div class="p-2"><a href="/"
      ><img
      src="/img/logo-green.png"
      alt="BambooTravel Logo"
      class="navbar-brand"
      width="180"
      /></a></div>
    <div class="p-2 flex-grow-1">
      <div class="d-flex flex-row flex-reverse ms-auto">
      <div><a href="#">About us</a></div>
      <div><a href="#">Download Apps</a></div>
      <div><a href="#">Become A Guide</a></div>
      <div><a href="#">Careers</a></div>
      <div><a href="#">Contact</a></div>
    </div></div>
  </div>
  <!-- <div class="d-flex">
    <div class="band-logo ">
      <a href="/"
      ><img
      src="/img/logo-green.png"
      alt="VNtours Logo"
      class="navbar-brand"
      width="180"
      /></a>
    </div>
    <div class="col-md-8">
      <div class="d-flex flex-row flex-reverse ms-auto">
        <div><a href="#">About us</a></div>
        <div><a href="#">Download Apps</a></div>
        <div><a href="#">Become A Guide</a></div>
        <div><a href="#">Careers</a></div>
        <div><a href="#">Contact</a></div>
      </div>
    </div> -->
<!-- Copy Right -->
<!-- <p class="fst-italic mb-0 text-gray">
      Copyright &copy; Minh Thu Lu, tessalu2399@gmail.com
    </p>
  </div>
</div>  -->
<div class="container-xl">
  <div class="row">
    <div class="col-md-4"><img
      src="/img/logo-white.png"
      alt="BambooTravel Logo"
      class="navbar-brand"
      width="180"
      /></a></div>
    <div class="col-md-8">
<div class="row">

  <ul class="nav justify-content-end">
    <li class="nav-item"><a href="/" class="nav-link link-light">About Us</a></li>
    <li class="nav-item"><a href="/" class="nav-link link-light">Download Apps</a></li>
    <li class="nav-item"><a href="/" class="nav-link link-light">Careers</a></li>
    <li class="nav-item"><a href="/" class="nav-link link-light">Become A Guide</a></li>
    <li class="nav-item"><a href="/" class="nav-link link-light">Contact</a></li>
  </ul></div>
  <div class="row">
    <ul class="nav">
      <li class="nav-item"><a href="/" class="nav-link link-light">About Us</a></li>
      <li class="nav-item"><a href="/" class="nav-link link-light">Download Apps</a></li>
      <li class="nav-item"><a href="/" class="nav-link link-light">Careers</a></li>
      <li class="nav-item"><a href="/" class="nav-link link-light">Become A Guide</a></li>
      <li class="nav-item"><a href="/" class="nav-link link-light">Contact</a></li>
    </ul>
  </div>
</div>
</div></div>
</div>
