<!-- NAVIGATION -->
<div class="container-xl">
  <a href="/"
    ><img
      src="/img/logo-white.png"
      alt="VNtours Logo"
      class="navbar-brand"
      width="180"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#navbarNavDropdown"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <a href="/tours" class="nav-link fw-semibold text-light mx-2"
        >All Tours</a
        >
      </li>
      
      <% if (typeof user === "undefined") { %>
        <li class="nav-item">
          <a href="/" class="nav-link fw-semibold text-light mx-2">About</a>
        </li>
      <li class="nav-item">
        <a href="/user/login" class="nav-link fw-semibold text-light mx-2"
          >Log in</a
        >
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-light py-0 px-3">
          <a href="/signup" class="text-light nav-link fw-semibold"
            >Become A Member</a
          >
        </button>
      </li>
      <% } else { %>
        <li class="nav-item">
          <a href="/account" class="nav-link fw-semibold text-light mx-2"
          >My Account</a
          >
        </li>
        <li class="nav-item pt-2 px-2"><span class="text-light">Hello,</span>  <span class="text-light fw-semibold text-uppercase"><%= user.name%></span></li>
        <li class="nav-item">
          <button class="btn btn-outline-light px-3 py-0 logout-btn">
            <a href="/logout" class="text-light nav-link fw-semibold"
              >Logout</a
            >
          </button>
        </li>
      <% } %>
    </ul>
  </div>
</div>
